#header-nav{
	margin: -5px,-8px,-8px,-8px;
	background-color: grey;
	padding: 5px;
	border-radius: 0;
}
.navbar-brand{
	padding-top: 10px;
}

.navbar-brand h1{
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
div h1{
	text-align: center;
}
.container div{
	background-color: grey;
	margin: 5px;
}
@media (min-width: 992px){
.container div{
	float: left;
	width: 30%;
}
}
.container div p{
	margin-right: -2px;
}
div h2{
	text-align: center;
	font-size: 1.5em;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#nav-list a:focus{
	text-decoration: none;
	text-decoration-line: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;